version: "3.7"
services:

  mysql:
    image: mysql:5.7.36
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD=123123
      - MYSQL_DATABASE=django
      - MYSQL_USER=django
      - MYSQL_PASSWORD=123456
    restart: always
    volumes:
      - db-data:/var/lib/mysql/
      - mysql-socket:/run/mysqld/
      - $PWD/mysql/custom.cnf:/etc/mysql/conf.d/custom.cnf

  app:
    build:
      context: ../.
      dockerfile: ./.docker/app.Dockerfile
    expose:
      - 8000
    volumes:
      - $PWD/../:/geekshop
      - mysql-socket:/run/mysqld/
      - app-socket:/var/run/geekshop/
    environment:
      - DJANGO_PRODUCTION=1
    depends_on:
      - "mysql"
      - "memcached"

  nginx:
    build:
      context: .
      dockerfile: ./nginx.Dockerfile
    ports:
      - 80:80
    volumes:
      - $PWD/../:/geekshop
      - app-socket:/var/run/geekshop/
    depends_on:
      - "app"

  memcached:
    image: 1.6.12
    expose:
      - 11211
    mem_limit: 512m
    mem_reservation: 128M


volumes:
  db-data:
  mysql-socket:
  app-socket:
